name = "freeway"
main = "./dist/worker.mjs"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-09-01"
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-dev-0" }
]

[vars]
CONTENT_CLAIMS_SERVICE_URL = "https://dev.claims.web3.storage"
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"

[build]
command = "npm run build:debug"

[[unsafe.bindings]]
# TODO BEFORE MERGE - update this to work in all environments - useful to do it like this for now
name = "RATE_LIMITER"
type = "ratelimit"
# An identifier you define, that is unique to your Cloudflare account.
# Must be an integer.
namespace_id = "0"

# Limit: the number of tokens allowed within a given period in a single
# Cloudflare location
# Period: the duration of the period, in seconds. Must be either 10 or 60
simple = { limit = 100, period = 60 }

[[kv_namespaces]]
# TODO BEFORE MERGE - update this to work in all environments - useful to do it like this for now
binding = "AUTH_TOKEN_METADATA"
id = "f848730e45d94f17bcaf3b6d0915da40"

# PROD!
[env.production]
account_id = "fffa4b4363a7e5250af8357087263b3a"
route = { pattern = "https://freeway.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" }
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-prod-0" }
]
kv_namespaces = [
  { binding = "AUTH_TOKEN_METADATA", id = "f848730e45d94f17bcaf3b6d0915da40" },
  { binding = "CONTENT_SERVE_DELEGATIONS_STORE", id = "b2984f16c21e4991a644683c00d80033" },
  { binding = "DAGPB_CONTENT_CACHE", id = "e1339664614940a0804a3020ce3dae12" }
]

[env.production.build]
command = "npm run build"

[env.production.vars]
MAX_SHARDS = "825"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "true"
FF_TELEMETRY_ENABLED = "true"
FF_DELEGATIONS_STORAGE_ENABLED = "true"
FF_RAMP_UP_PROBABILITY = "100"
# Cache for 30 days by default
FF_DAGPB_CONTENT_CACHE_TTL_SECONDS = 2_592_000
FF_DAGPB_CONTENT_CACHE_MAX_SIZE_MB = 2
FF_DAGPB_CONTENT_CACHE_ENABLED = "true"
TELEMETRY_RATIO = 0.0005
GATEWAY_SERVICE_DID = "did:web:w3s.link"
UPLOAD_SERVICE_DID = "did:web:web3.storage"
CONTENT_CLAIMS_SERVICE_URL = "https://claims.web3.storage"
CARPARK_PUBLIC_BUCKET_URL = "https://carpark-prod-0.r2.w3s.link"
UPLOAD_API_URL = "https://up.web3.storage"
INDEXING_SERVICE_URL = "https://indexer.storacha.network/"

[env.production.observability]
enabled = true
head_sampling_rate = 0.01 

# Staging!
[env.staging]
account_id = "fffa4b4363a7e5250af8357087263b3a"
route = { pattern = "https://freeway-staging.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" }
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-staging-0" }
]
kv_namespaces = [
  { binding = "AUTH_TOKEN_METADATA", id = "b618bb05deb8493f944ef4a0f538030c" },
  { binding = "CONTENT_SERVE_DELEGATIONS_STORE", id = "99ae45f8b5b3478a9df09302c27e81a3" },
  { binding = "DAGPB_CONTENT_CACHE", id = "c70a74363e7a4f06ad39fa3022aab7c7" }
]

[env.staging.build]
command = "npm run build"

[env.staging.vars]
MAX_SHARDS = "825"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "true"
FF_TELEMETRY_ENABLED = "true"
FF_DELEGATIONS_STORAGE_ENABLED = "true"
FF_RAMP_UP_PROBABILITY = "100"
FF_DAGPB_CONTENT_CACHE_TTL_SECONDS = 300
FF_DAGPB_CONTENT_CACHE_MAX_SIZE_MB = 2
FF_DAGPB_CONTENT_CACHE_ENABLED = "true"
TELEMETRY_RATIO = 1.0
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.up.storacha.network"
CONTENT_CLAIMS_SERVICE_URL = "https://staging.claims.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"
CARPARK_PUBLIC_BUCKET_URL = "https://carpark-staging-0.r2.w3s.link"
INDEXING_SERVICE_URL = "https://staging.indexer.storacha.network/"


# Test!
[env.test]
workers_dev = true
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-test-0" }
]

[env.test.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "false"
FF_DAGPB_CONTENT_CACHE_ENABLED = "true"
FF_DAGPB_CONTENT_CACHE_MAX_SIZE_MB = 2
FF_DAGPB_CONTENT_CACHE_TTL_SECONDS = 300
FF_TELEMETRY_ENABLED = "true"
TELEMETRY_RATIO = 1.0
FF_RAMP_UP_PROBABILITY = "100"
MAX_SHARDS = "120"
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
CONTENT_CLAIMS_SERVICE_URL = "https://test.claims.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"

[env.alanshaw]
workers_dev = true
account_id = "4fe12d085474d33bdcfd8e9bed4d8f95"
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-alanshaw-0", preview_bucket_name = "carpark-alanshaw-preview-0" }
]

[env.alanshaw.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "false"
FF_TELEMETRY_ENABLED = "true"
TELEMETRY_RATIO = 1.0
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
CONTENT_CLAIMS_SERVICE_URL = "https://dev.claims.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"

[env.fforbeck]
name = "freeway-fforbeck"
workers_dev = true
upload_source_maps = true
account_id = "fffa4b4363a7e5250af8357087263b3a"
# r2_buckets = [
#  { binding = "CARPARK", bucket_name = "carpark-fforbeck-0", preview_bucket_name = "carpark-fforbeck-preview-0" }
# ]
#r2_buckets = [
#  { binding = "CARPARK", bucket_name = "carpark-prod-0", preview_bucket_name = "carpark-prod-0" }
#]
#kv_namespaces = [
#  { binding = "AUTH_TOKEN_METADATA", id = "b618bb05deb8493f944ef4a0f538030c" },
#  { binding = "CONTENT_SERVE_DELEGATIONS_STORE", id = "26cc47fec09749bb9ee42bc6407f9a9d" },
#  { binding = "DAGPB_CONTENT_CACHE", id = "3f0c253b90fc48c1b384f1563ede54f9" }
#]
# Copied from STAGING env
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-staging-0" }
]
kv_namespaces = [
  { binding = "AUTH_TOKEN_METADATA", id = "b618bb05deb8493f944ef4a0f538030c" },
  { binding = "CONTENT_SERVE_DELEGATIONS_STORE", id = "99ae45f8b5b3478a9df09302c27e81a3" },
  { binding = "DAGPB_CONTENT_CACHE", id = "c70a74363e7a4f06ad39fa3022aab7c7" }
]

[env.fforbeck.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "true"
FF_TELEMETRY_ENABLED = "true"
FF_DELEGATIONS_STORAGE_ENABLED = "true"
FF_RAMP_UP_PROBABILITY = "100"
FF_DAGPB_CONTENT_CACHE_TTL_SECONDS = 300
FF_DAGPB_CONTENT_CACHE_MAX_SIZE_MB = 2
FF_DAGPB_CONTENT_CACHE_ENABLED = "true"
TELEMETRY_RATIO = 1.0
### staging
# CONTENT_CLAIMS_SERVICE_URL = "https://staging.claims.web3.storage"
# CARPARK_PUBLIC_BUCKET_URL = "https://carpark-staging-0.r2.w3s.link"
# GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
#UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
#UPLOAD_API_URL = "https://staging.up.web3.storage"
#INDEXING_SERVICE_URL = "https://staging.indexer.storacha.network/"
### prod
CONTENT_CLAIMS_SERVICE_URL = "https://staging.claims.web3.storage"
# CARPARK_PUBLIC_BUCKET_URL = "https://carpark-prod-0.r2.w3s.link"
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"
# gateway validator proof (gateway -> gateway)
GATEWAY_VALIDATOR_PROOF = "mAYIEAI0DOqJlcm9vdHOB2CpYJQABcRIg5a/pcyEeJn5snQZHm+wVBzeFbY8RTlfwETn+nMMiCqlndmVyc2lvbgH2AQFxEiD8LRCZwMMfTVlGtNX85n0aVxjp54oE0/G/WTG/dsOOA6dhc1hE7aEDQCEy4qAv4dybXYh/iipwdOLf4DlYjZGFopGvvfDZbVq6Q4MIY5PY9XXHP9D6ELs6qjcvSLfP/nbew/IWbG55RAJhdmUwLjkuMWNhdHSBomNjYW5rdWNhbi9hdHRlc3Rkd2l0aHgYZGlkOndlYjpzdGFnaW5nLnczcy5saW5rY2F1ZFghnRp3ZWI6c3RhZ2luZy51cC5zdG9yYWNoYS5uZXR3b3JrY2V4cPZjaXNzVp0ad2ViOnN0YWdpbmcudzNzLmxpbmtjcHJmgFkBcRIg5a/pcyEeJn5snQZHm+wVBzeFbY8RTlfwETn+nMMiCqmhanVjYW5AMC45LjHYKlglAAFxEiD8LRCZwMMfTVlGtNX85n0aVxjp54oE0/G/WTG/dsOOAw"
# up validator proof (gateway -> upload-service)
#GATEWAY_VALIDATOR_PROOF = "mAYIEAJgDOqJlcm9vdHOB2CpYJQABcRIgN620cPucqWQBOpxv6IdEa2h9qIjbLjuVeX5EjKZYntlndmVyc2lvbgGBAgFxEiCZ8EADJu8q8uWgve3nZa/+mzdDfX1IyQ4riBFs3lOiP6dhc1hE7aEDQNWyV/OoO65h7E1sJhiVj/PtTd5rKWmgWRjct8CvfSsoEILycg7GF5CdF7KR/oryw5mjIiYqm1CNmaZr1o7c2ANhdmUwLjkuMWNhdHSBomNjYW5rdWNhbi9hdHRlc3Rkd2l0aHgjZGlkOndlYjpzdGFnaW5nLnVwLnN0b3JhY2hhLm5ldHdvcmtjYXVkVp0ad2ViOnN0YWdpbmcudzNzLmxpbmtjZXhw9mNpc3NYIZ0ad2ViOnN0YWdpbmcudXAuc3RvcmFjaGEubmV0d29ya2NwcmaAWQFxEiA3rbRw+5ypZAE6nG/oh0RraH2oiNsuO5V5fkSMplie2aFqdWNhbkAwLjkuMdgqWCUAAXESIJnwQAMm7yry5aC97edlr/6bN0N9fUjJDiuIEWzeU6I/"

[[env.fforbeck.unsafe.bindings]]
name = "RATE_LIMITER"
type = "ratelimit"
namespace_id = "0"
simple = { limit = 5, period = 60 }

[env.fforbeck.observability]
[env.fforbeck.observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = false

[env.hannahhoward]
name = "freeway-hannahhoward"
workers_dev = true
account_id = "fffa4b4363a7e5250af8357087263b3a"
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-prod-0", preview_bucket_name = "carpark-prod-0" }
]
kv_namespaces = [
  { binding = "AUTH_TOKEN_METADATA", id = "b618bb05deb8493f944ef4a0f538030c", preview_id = "6a546b5fc21a423eb4ea07db2d611a91" },
  { binding = "CONTENT_SERVE_DELEGATIONS_STORE", id = "26cc47fec09749bb9ee42bc6407f9a9d", preview_id = "ec5c429f8b1849a68d73dee7447b4e30" },
  { binding = "DAGPB_CONTENT_CACHE", id = "3f0c253b90fc48c1b384f1563ede54f9", preview_id = "fcea72d8d8694b5c831736e1317e9208" }
]

[env.hannahhoward.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "false"
FF_TELEMETRY_ENABLED = "true"
FF_DELEGATIONS_STORAGE_ENABLED = "true"
FF_RAMP_UP_PROBABILITY = "100"
FF_DAGPB_CONTENT_CACHE_TTL_SECONDS = 300
FF_DAGPB_CONTENT_CACHE_MAX_SIZE_MB = 2
FF_DAGPB_CONTENT_CACHE_ENABLED = "true"
TELEMETRY_RATIO = 1.0
CONTENT_CLAIMS_SERVICE_URL = "https://claims.web3.storage"
CARPARK_PUBLIC_BUCKET_URL = "https://carpark-prod-0.r2.w3s.link"
INDEXING_SERVICE_URL = "https://indexer.storacha.network/"
GATEWAY_SERVICE_DID = "did:web:w3s.link"
UPLOAD_SERVICE_DID = "did:web:web3.storage"
UPLOAD_API_URL = "https://up.web3.storage"

[[env.hannahhoward.unsafe.bindings]]
name = "RATE_LIMITER"
type = "ratelimit"
namespace_id = "0"
simple = { limit = 5, period = 60 }

[env.peeja]
# Custom name for your testing/dev worker
name = "peeja-freeway"
workers_dev = true
# Account Id from step 3
account_id = "5ad700ac7e44a8bdebb6c5626bc15ecb"
# See step 4.2 to create the R2 Bucket
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-peeja-0", preview_bucket_name = "carpark-peeja-preview-0" },
]
compatibility_flags = ["nodejs_compat"]
compatibility_date = "2024-11-26"

[env.peeja.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "false"
FF_EGRESS_TRACKER_ENABLED = "true"
FF_TELEMETRY_ENABLED = "false"
TELEMETRY_RATIO = 1.0
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
CONTENT_CLAIMS_SERVICE_URL = "https://staging.claims.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"
INDEXING_SERVICE_URL = "https://staging.indexer.storacha.network/"

[[env.peeja.unsafe.bindings]]
name = "RATE_LIMITER"
type = "ratelimit"
namespace_id = "0"
simple = { limit = 100, period = 60 }

[[env.peeja.kv_namespaces]]
binding = "AUTH_TOKEN_METADATA"
# See step 4.1 to create the KV store
id = "0b44d436a3df48bfbdcfa3eb8b5207ca"


### Integration Tests Configuration
[env.integration]
name = "freeway-integration-test"
workers_dev = true
account_id = "fffa4b4363a7e5250af8357087263b3a"
r2_buckets = [
  { binding = "CARPARK", bucket_name = "carpark-integration-0", preview_bucket_name = "carpark-integration-preview-0" }
]

[env.integration.vars]
DEBUG = "true"
FF_RATE_LIMITER_ENABLED = "true"
FF_EGRESS_TRACKER_ENABLED = "true"
FF_TELEMETRY_ENABLED = "true"
TELEMETRY_RATIO = 1.0
GATEWAY_SERVICE_DID = "did:web:staging.w3s.link"
UPLOAD_SERVICE_DID = "did:web:staging.web3.storage"
CONTENT_CLAIMS_SERVICE_URL = "https://staging.claims.web3.storage"
UPLOAD_API_URL = "https://staging.up.web3.storage"
INDEXING_SERVICE_URL = "https://staging.indexer.storacha.network/"

[[env.integration.unsafe.bindings]]
name = "RATE_LIMITER"
type = "ratelimit"
namespace_id = "0"
simple = { limit = 100, period = 60 }

[[env.integration.kv_namespaces]]
binding = "AUTH_TOKEN_METADATA"
id = "a355501ee4f242b1affa32c1b335db2b"
